<?xml version="1.0" encoding="utf-8"?>

<launch>
  <!-- <arg name="input_image"        default="/d435/image_raw"/> -->
  <arg name="input_image"        default="/camera/color/image_rect_color"/>

  <!-- CAMERA -->
  <include file="$(find darknet_ros)/launch/bringup_d435.launch"/>
  <param name="/darknet_ros/subscribers/camera_reading/topic"      value="$(arg input_image)"/>
  <param name="/darknet_ros/subscribers/camera_reading/queue_size" value="1"/>

  <!-- DARKNET -->
  <include file="$(find darknet_ros)/launch/darknet_ros.launch"/>
</launch>
